[Desktop Entry]
Name=Neovim X
Exec=gnome-terminal --full-screen -- bash -c  "cd ~/Desktop && /opt/nvim-linux64/bin/nvim"
Icon=/home/santheep/Pictures/neovim.webp
Terminal=false
Type=Application
Categories=Utility;Development;
